pymongo
python-dotenv
requests
sentry-sdk
urllib3
decouple
jishaku
fastapi
uvicorn
infisicalsdk
roblox
openai
bloxlink.py~=0.0.2
PyNaCl
aiohttp
anyio
zipp
starlette
assemblyai
ffmpeg-python
py-cord