discord.py~=2.4.0
pymongo~=4.10.1
python-dotenv~=1.0.1
requests
sentry-sdk~=2.21.0
urllib3~=2.3.0
decouple
jishaku
fastapi
uvicorn
infisicalsdk
roblox~=2.0.0
openai~=1.66.3
bloxlink.py
cloudflare
discord~=2.3.2
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability